body{
  background: rgba(15,15,15,1);
  background: -moz-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(0,0,0,1) 14%, rgba(61,61,61,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(15,15,15,1)), color-stop(14%, rgba(0,0,0,1)), color-stop(100%, rgba(61,61,61,1)));
  background: -webkit-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(0,0,0,1) 14%, rgba(61,61,61,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(0,0,0,1) 14%, rgba(61,61,61,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(15,15,15,1) 0%, rgba(0,0,0,1) 14%, rgba(61,61,61,1) 100%);
  background: linear-gradient(135deg, rgba(15,15,15,1) 0%, rgba(0,0,0,1) 14%, rgba(61,61,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#3d3d3d', GradientType=1 );
  /*background-color: rgba(0,100,80,0.70);*/
  background-size: 100% 100%;
  padding-top: 2%;
 }
.titulos{
  margin-left: 12%;
  width: 40%;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color:#000;
  text-shadow: 1px 1px rgba(255,255,255,0.50);

}
#titulogeneral{
  margin-left: 0px;
  width: 100%;
  text-align: center;
  font-size: 20px;


}
#fondodatos{
  width:36%;
  height: 60%;
  margin-left: 32%;
  background-color:rgba(255,255,255);
  box-shadow: 1px;
  border-radius: 15px;
  padding: 2%
}
#numeros{
  width:100%;
  margin-left: 12%;
  margin-top: 1%;
}
#nombrecompleto{
  width:100%;
  margin-left: 12%;
  margin-top: 1%;
}
#vencimientos{
  width:100%;
  margin-left: 12%;
  margin-top: 1%;
  margin-right: 0%;
}
#codigolavel{
  text-align: left;
  margin-left: 40%;
}
.Numtarj{
  width:18%;
  font-size: 20px;
  text-align: center;
  box-shadow: inset 1px 1px 1px  rgba(0,0,0,0.25);
  border-radius: 5px;
  border-style:ridge;
  margin-bottom: 2%;
  margin-right: 1px;
}
.nombre{
  width:37%;
  font-size: 20px;
  text-align: left;
  box-shadow: inset 1px 1px 1px  rgba(0,0,0,0.20);
  border-radius: 5px;
  border-style:ridge;
  margin-bottom: 2%;
  padding-left: 6px;
}
.vencimiento{
  width:15%;
  font-size: 20px;
  text-align: left;
  box-shadow: inset 1px 1px 1px  rgba(0,0,0,0.20);
  border-radius: 5px;
  border-style:ridge;
  margin-bottom: 2%;
}
.ccv{
  margin-left:23%;
  width:20%;
  font-size: 20px;
  text-align: left;
  box-shadow: inset 1px 1px 1px  rgba(0,0,0,0.20);
  border-radius: 5px;
  border-style:ridge;
  margin-bottom: 2%;
  padding-left: 6px;
}
#botoncargar{
  margin-top: 2%;
  width: 15%;
  height: 7%;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-left:42.5%;
  background-color: rgba(40,40,40,0.3);
  cursor:pointer;
  border-style: ridge;
  border-color: rgba(30,30,30,0.2);
}
#botoncargar:hover{
  background-color: rgba(15,15,15,0.4);

}

/*
PRUEBAS
*/

#tarjeta{
  width: 86%;
  height: 65%;
  margin-top: 5%;
  margin-left: 7%;

}
#numerotarjeta{
  position: fixed;
  margin-top: -6.7%;
  margin-left: 4.2%;
  font-size: 25px;
  font-family: 'Lekton', sans-serif;
}
#fechavencimiento{
  position: fixed;
  margin-top: -4%;
  margin-left: 4.2%;
  font-size: 10px;
  font-family: 'Lekton', sans-serif;
}
#nombretarjeta{
  position: fixed;
  margin-top: -3.3%;
  margin-left: 4.2%;
  font-size: 20px;
  font-family: 'Lekton', sans-serif;
}
#codigo{
  position: fixed;
  margin-left: 4.2%;
  margin-top: -1.7%;
  font-family: 'Lekton', sans-serif;
}

/* CARGAR UNA FUENTE CUALQUIERA
@font-face {
  font-family: Toto;
  font:url('');
}
*/
